@font-face {
	font-family: 'Yekan Bakh Fat';
	src: url(../../assets/fonts/YekanBakh-Fat.woff2) format('woff2'),
	url(../../assets/fonts/YekanBakh-Fat.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}