@font-face {
	font-family: 'Yekan Bakh';
	src: url(../../assets/fonts/YekanBakh-Light.woff2) format('woff2'),
	url(../../assets/fonts/YekanBakh-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Yekan Bakh';
	src: url(../../assets/fonts/YekanBakh-Medium.woff2) format('woff2'),
	url(../../assets/fonts/YekanBakh-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Yekan Bakh';
	src: url(../../assets/fonts/YekanBakh-Bold.woff2) format('woff2'),
	url(../../assets/fonts/YekanBakh-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}